<a href="https://colab.research.google.com/github/alousada/The-Capstone-Project/blob/main/Week%203%20-%20(1)%20first%20part.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="" src=""  height="70px" align="left" hspace="10px" vspace="0px"></p>

<h1>Segmenting and Clustering Neighborhoods on Toronto</h1>
<h2>Part II : Mergering Postal Data with Coordinates</h2>

This script will retrieve the coordinates from the processed file (orignial source Wikipedia). 

The main requisite : 

-  we will get the latitude and the longitude coordinates of each neighborhood.

 Geospatial Coordinates : https://cocl.us/Geospatial_data


# Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%config IPCompleter.greedy=True
%config IPCompleter.use_jedi=False

print('Libraries imported.')

Libraries imported.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: Config option `use_jedi` not recognized by `IPCompleter`.
  """

# Load the Data

In [ ]:
df2 = pd.read_csv('postal_codes_toronto.csv')
del df2['Unnamed: 0']
#print(toronto_df.shape)
df2.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

# Loading the Coordinates

In [ ]:
coord = pd.read_csv('https://cocl.us/Geospatial_data')
coord.rename(columns={'Postal Code':'PostalCode'},inplace=True)

In [ ]:
coord.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

# Merging the Dataframes

In [ ]:
df3 = pd.merge(df2,coord,on='PostalCode')

In [ ]:
df3.head()

  PostalCode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A      Queen's Park  ...  43.662301 -79.389494

[5 rows x 5 columns]

# Final Processing

In [ ]:
# save this dataframe in a CSV file
df3.to_csv('toronto_postalcode_coordinates.csv')

In [ ]:
# shape of dataframe
print(f'The shape of our dataframe is {df3.shape} with the following details:\n- {df3.shape[0]} rows\n- {df3.shape[1]} columns\n- {len(df3.PostalCode.unique())} unique postal codes\n- {len(df3.Borough.unique())} unique boroughs')

The shape of our dataframe is (103, 5) with the following details:
- 103 rows
- 5 columns
- 103 unique postal codes
- 15 unique boroughs